.row {
  color: whitesmoke;
  margin-left: 15px;
  margin-top: 10px;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}

.row__poster::-webkit-scrollbar {
  display: none;
  /* keeps the functionality of scroll
  but don't show the scroll bar. */
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 110px;
  transition: transform 450ms;
  margin-right: 10px;
}

/* to zoom in when hovered */
.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  object-fit: contain;
  width: 100%;
  max-height: 300px;
}

.row__posterLarge:hover {
  transform: scale(1.1);
}
